[Desktop Entry]
Name=NAI
Comment=Fast, beautiful desktop email client
Exec=naiemail
Icon=com.anydaysomething.naiemail
Type=Application
Categories=Network;Email;
StartupWMClass=NAI
StartupNotify=true
